<div class="app_container heightfull">
    <div class="container-fluid heightfull ng-scope">
        <div class="row">
            
            <nav class="col-sm-24 col-md-24 nav--local" >
                <course-courseNav></course-courseNav>
            </nav>
            
            <div class="col-sm-24 col-md-22 col-md-offset-1">
                <breadcrumbs-breadcrumbs></breadcrumbs-breadcrumbs>
                <assignment-assignmentstudent ng-if="userView"></assignment-assignmentstudent>
                <assignment-assignmentteacher ng-if="teacherView"></assignment-assignmentteacher>
            </div><!--.col-->
            
       </div><!--.row-->
    </div><!--.container-->
</div><!--.app_container-->