    <div class="row">
        <div class="col-sm-16 col-sm-offset-4">
            <ul class="col-sm-24 nav--process nav--process--assignments">
                <div class="nav--process_line"></div>
                <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex(), checked: $index < getCurrentStepIndex()}">
                  <a href="javascript:void(0)" ng-click="goToStep($index)">
                    <span class="step"><i class=" fa {{step.icon}}"></i></span>
                      <span class="stepLabel">{{step.name}}</span>
                    </a>
                </li>
              </ul>
            <div class="process_view" ng-switch on="selection">
            <div class="stepOne" ng-switch-when="Create or copy">
                <div class="col-sm-14 col-sm-offset-5">
                
                    <form name="assignmentType">
                    <button ng-click="goToStep(1)">Create new assignment</button>
                    <button ng-click="isAssignmentsOpen = !isAssignmentsOpen">Copy Recent Assignment</button>
                
                    <div class="getAssignments" ng-show="isAssignmentsOpen">
                        <p>Placeholder: copy assignment</p>
                    </div>
                </form>
                </div>
                <ul class="col-xs-24 pager">
                    <li class="">
                        <button ng-click="$parent.$parent.hideModal()" class="btn btn-default">Close</button>
                    </li>
                </ul>
                
            </div> <!--.StepOne-->
                <div class="stepTwo" ng-switch-when="Details">
                    <div class="col-sm-24">
                    <form name="assignmentDetails">
                        <div class="col-sm-12">
	                        
                        <label for="name">Assignment Title</label>
                            <input type="text" name="name" class="form-control" ng-model="$parent.assignment.name" required="true">
                            <span 
                            class="error" 
                            ng-show="assignmentDetails.name.$touched && assignmentDetails.name.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                            
                        <label for="obligatory">Obligatory</label><br><br>
                            <div class="myCheckbox">
                            <form action="">
                                
                                    <input type="checkbox" name="obligatory" value="YES">
                                        <label for="checkboxes">YES</label>
                                    <input type="checkbox" name="obligatory" value="NO">   <label for="checkboxes">NO</label>
                                   
                            </form>
                                 </div>
                            <span 
                            class="error" 
                            ng-show="assignmentDetails.obligatory.$touched && assignmentDetails.obligatory.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                            
                           
                               <!--
                            <div class="select_course_header"><label for="selectCourse">Choose assessment</label></div>
                            
                       
                   
                            <select id="selectCourse" 
                                        ng-change="selectCourseChanged(id)" 
                                        ng-model="courseSelect.repeatSelect" 
                                        name="repeatSelect" 
                                        class="form-control">
                                    <option value=""> --- Assessment list ---</option>
                                    <option ng-repeat="option in courseSelect.availableOptions" value="{{ option.name }}"> 														{{ option.name }}
                                    </option>
                             </select>
                        <!-- SLUT PÅ URSPRUNGLIG KOD FÖR ATT VÄLJA KURS -->
                            <span 
                            class="error" 
                            ng-show="assignmentDetails.assessment.$touched && assignmentDetails.assessment.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                            
                        

                            
                        </div>
                        
                        <div class="col-sm-12">
                            
                            <label for="duedate">Due date</label>
                            <input type="date" name="duedate" class="form-control" ng-model="$parent.assignment.due_date" required="true">
                            <span 
                            class="error" 
                            ng-show="assignmentDetails.duedate.$touched && assignmentDetails.duedate.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                            
                            <label>Upload instruction file</label>
                            <!--<input type="text" name="courseEnd" class="form-control" ng-model="$parent.end" required="true" >-->
                            <div class="upload_instruction_file">
                                <form action="demo_form.asp">
                            	<input type="file" name="pic" accept="image/*">
                            </form>
                        </div>
                        </div>
                        <div class="col-sm-24">
                            <label for="description">Description</label>
                            <input type="textarea" name="description" class="form-control" ng-model="$parent.assignment.description" required="true">
                            <span 
                            class="error" 
                            ng-show="assignmentDetails.description.$touched && assignmentDetails.description.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </form>
                    </div>
                    <ul class="col-xs-24 pager">
                        <li class="">
                            <a href="" ng-click="decrementStep()">&larr; Previous</a>
                        </li>
                        <li class="">
                        	<a href="" ng-click="assignmentDetails.$valid && incrementStep()">Next step &rarr;</a> 
                            <!-- <a href="" ng-click="addOrUpdateCourse()">{{ $parent.btnAddOrUpdate }} &rarr;</a> -->
                        </li>
                    </ul>
            </div><!--.stepTwo-->
            
            <div class="stepThree" ng-switch-when="Select course">
                   <div class="col-sm-24">
                       
                       <div class="select_program_header">
                           <label for="selectProgram">Select program</label></div>
                  
                       
                       
                       <div class="select_course_header"><label for="selectCourse">Select course</label></div>
                       
                            <select id="selectCourse" 
                                        ng-change="selectCourseChanged(id)" 
                                        ng-model="courseSelect.repeatSelect" 
                                        name="repeatSelect" 
                                        class="form-control">
                                    <option value=""> --- Course list ---</option>
                                    <option ng-repeat="option in courseSelect.availableOptions" value="{{ option.name }}"> 														{{ option.name }}
                                    </option>
                             </select>
                       
                   </div>
                   <ul class="col-xs-24 pager">
                       <li class="">
                           <a href="" ng-click="decrementStep()">&larr; Previous</a>
                       </li>
                   
                       <li class="">
                           <a href="" ng-click="addOrUpdateCourse()">{{ $parent.btnAddOrUpdate }} &rarr;</a>
                       </li>
                   </ul>
               </div> <!--End of step three-->
            
            <div class="stepFour" ng-switch-when="Preview">
                <div class="col-sm-24">
                <p>Name: {{assignment.name}}</p>
                <p>Due Date: {{assignment.due_date}}</p>
                <p>Description: {{assignment.description}}</p>
                <p>Added on: {{assignment.added_on}}</p>
                <p>Course: {{assignment.course}}</p>
                <p>Is published: {{assignment.is_published}}</p>
                <p>teacher_instruction_file: {{assignment.teacher_instruction_file}}</p>
                <p>assessment: {{assignment.assessment}}</p>
                <p>obligatory: {{assignment.obligatory}}</p>

                <button class="btn btn-default" ng-click="pathLocation($parent.$parent.course.url)">Enter assignment page</button>
                <button class="btn btn-default" ng-click="$parent.$parent.hideModal()">Back to dashboard</button>
                </div>
                <ul class="col-xs-24 pager">
                    <li class="">
                        <a href="" ng-click="decrementStep()">&larr; Edit details</a>
                    </li>
                </ul>
            </div><!--.stepTree-->
            </div>
        </div><!--col-->
    </div><!--.row-->
