<div class="container">
<h1> API documentation </h1>
<br/>

<h2> API LOGIN </h2>
<h3> URI: http://localhost:3000/api/login </h3>

<p> HTTP REQUEST: GET </p>
<b> DESC: Check if logged in </b>
<p> PAYLOAD: none </p>
<p> RETURNS: bool </p>
<br/>

<p> HTTP REQUEST: POST </p>
<b> DESC: Try to login </b>
<p> PAYLOAD: {"email": "email@domain.se", "password": "pw"} </p>
<p> RETURNS: bool </p>
<br/>

<p> HTTP REQUEST: DELETE </p>
<b> DESC: Logout </b>
<p> PAYLOAD: none</p>
<p> RETURNS: bool </p>
<br/>



</div>