<div class="app_container app_container--padding">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <dashboard-courses ng-if="!auth"></dashboard-courses>

            <dashboard-allcourses ng-if="auth"></dashboard-allcourses>
        </div>
        <div class="col-md-11 col-md-offset-0">
            <dashboard-admindash ng-if="auth"></dashboard-admindash>
        </div>
        
      

    </div>
</div><!--.container-fluid-->
</div> <!--.app_container .app_container--padding-->