dashboard-activities {
    button {
        background: @RGBcourses;
        color: @LMSdark--text;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 0px solid;
    }
    
    button:active, button:focus {
        outline: none;
        
    }
    
}




