// alter bootstrap column #
@grid-columns: 24;



.app_container { /*remove space hidden by nav*/
    padding-left: 0px;
    overflow: hidden;
    margin-bottom: 80px;
}

.app_container--padding {
    padding-top: 50px;
}