<div class="app_container heightfull">
    <div class="container-fluid heightfull ng-scope">
        <div class="row">
            <div class="col-sm-22 col-md-22 col-md-offset-1">
                <breadcrumbs-breadcrumbs></breadcrumbs-breadcrumbs>
                    <div class="col-md-24 box box__content">
                        <div class="col-sm-24">
                            <h1>
                                  User Manager
                            </h1>

                            <h2>Add user</h2>
                        </div>
                        <div class="col-md-12 col-xs-24">

                                <label for="Fname">First Name</label>
                                <input type="text" name="Fname" class="form-control" ng-model="user.first_name" required="true">


                                <label for="Lname">Last Name</label>
                                <input type="text" name="Lname" class="form-control" ng-model="user.last_name" required="true">

                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" ng-model="user.email" required="true">

                                <label for="pass">Password</label>
                                <input type="password" name="pass" class="form-control" ng-model="user.password" required="true">
                                <label for="radioform">Role:</label>

                                <form class="radioitem" action="">

                                         <input type="radio" name="obligatory" ng-model="user.role" value="student" required="true">
                                        <label class="radioitem" for="radio">Student</label>
                                         <input type="radio" name="obligatory" ng-model="user.role" value="teacher" required="true">
                                        <label class="radioitem" for="radio">Teacher</label>
                                         <input   type="radio" name="obligatory" ng-model="user.role" value="admin" required="true">
                                        <label class="radioitem" for="radio">Admin</label>

                                </form>
                            </div>

                            <div class="col-md-12 col-xs-24">


                                <label for="desc">Description</label>
                                <input required="true" type="text" class="form-control" ng-model="user.description" rows="3">

                                <label for="phone">Phone Number</label>
                                <input type="text" name="phone" class="form-control" ng-model="user.phone_number" required="true">

                                <label for="personality">Personality</label>
                                <input type="text" name="personality" class="form-control" ng-model="user.personality" required="true">

                                <label for="public_url">Public Url</label>
                                <input type="text" name="public_url" class="form-control" ng-model="user.public_url" required="true">

                                    <div class="col-md-24">
                                        <button type="Button" class="btn btn--manager" ng-click="addOrUpdateUser()">{{btnAddOrUpdateTextUser}}</button>
                                    </div>

                            </div>
                        <!--
                            <div class="col-md-12 col-xs-12">
                                <h4><b>Plugs</b></h4>
                                <label for="desc">Plug ID</label>
                                <input class="form-control" ng-model="user.plugs[0].id" required="true">
                                <label for="desc">Plug name</label>
                                <input class="form-control" ng-model="user.plugs[0].name" required="true">
                                <label for="desc">Path</label>
                                <input class="form-control" ng-model="user.plugs[0].path" required="true">
                                </div>
                            <div class="col-md-12 col-xs-12">
                                <label for="desc">isActive</label>
                                <input class="form-control" ng-model="user.plugs[0].isActive" required="true">
                                <label for="desc">x</label>
                                <input class="form-control" ng-model="user.plugs[0].x" required="true">
                                <label for="desc">y</label>
                                <input class="form-control" ng-model="user.plugs[0].y" required="true">

                            </div>
                        -->
                      </div><!--.box-->
                        <div class="box__content box">
                            <div class="col-xs-24 col-md-24">
                                <h2>User list</h2>
                                    <form class="form-search" method="get">
                                        <div class="input-group searchUser">

                                            <input class="form-control" type="text" ng-model="searchUsers" placeholder="Search...">
                                        </div>
                                    </form>
                                    <select ng-model="filterUsers" class="form-control filteruser">
                                        <option value="" ng-selected=true>All</option>
                                        <option value="student">Students</option>
                                        <option value="teacher">Teachers</option>
                                        <option value="admin">Admins</option>
                                    </select>
                            </div>
                            <div class="col-md-24 col-xs-24 userlisttabel">
                                <table class="table--manager">

                                <thead>
                                <tr>
                                    <th class="headning">Role</th>
                                    <th class="headning">First name</th>
                                    <th class="headning">Last name</th>
                                    <th class="headning">Email</th>
                                    <th class="headning">Phone nr</th>
                                    <th class="headning">Password</th>
                                    <th class="headning">Description</th>
                                    <th class="headning">Personality</th>
                                    <th class="headning">Url</th>


                                </tr>
                               </thead>
                                <tbody>
                                    <tr ng-repeat="user in userlist | filter:searchUsers | filter:(!!filterUsers || undefined) && {role:filterUsers}">
                                        <td>{{user.role}}</td>
                                        <td class="desc">{{user.first_name}}</td>
                                        <td class="desc">{{user.last_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td class="desc">{{user.phone_number}}</td>
                                        <td class="pass">{{user.password}}</td>
                                        <td class="desc">{{user.description}}</td>
                                        <td class="desc">{{user.personality}}</td>
                                        <td class="desc">{{user.public_url}}</td>

                                        <td class="btn-danger remove" ng-click="remove(user)">Remove</td>
                                        <td class="btn-warning remove" ng-click="prepareEdit(user._id)">Edit</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                      </div><!--.box2-->


                </div><!--.box .col-->
       </div><!--.row-->
    </div><!--.container-->
</div><!--.app_container-->
