<!-- public/views/chat.html -->

<app-nav></app-nav>
<div class="jumbotron text-center">
    <h1>Chat</h1>
    
    <div ng-controller="ChatController">
        <form>
            <input ng-style="style(color)" type="text" ng-model="text" placeholder="text">
            <button ng-click="sendMessage()">Send!</button>
            <button ng-click="getMessage()">Get First Message!</button>

        </form>

        <table ng-repeat="msg in channel">
            <tr>
                <th>User</th>
                <th>Message</th>
            </tr>
            <tr>
                <td>{{msg.user}}</td>
                <td>{{msg.text}}</td>
            </tr>
        </table>
  </div>
  
  
  

</div>