<!-- public/views/home.html -->

<app-nav></app-nav>
<div class="app_container">
    <div class="container dashboard" ng-controller="HomeController">
        <div class="row">
            <!--DASHBOARD ITEMS-->
            <div class="col-md-6">
                <div class="box">
                    <div class="box__header box__header--courses">
                        <i class="fa fa-leaf" width="512" height="512"></i>
                        <h2>{{ heading1 }}</h2>
                    </div>
                    <div class="box__content__left">
                       
                        <p>Assignment 1 | Duedate 24/3</p>
                         <i class="fa fa-file"></i>
                        <a href=#> Submit now </a>
                        
                    </div>
                    
                    <div class="box__content__right">
                        <p> Type: Lecture </p>
                        <p>Time: 10.15-12.00 </p>
                       
                        <p>Date: 25/4</p>
                    </div>
                    
                    
                </div>
                
                <div class="box">
                    <div class="box__header box__header--courses"> 
                        <i class="fa fa-leaf" width="512" height="512"></i>
                        <h2>{{ heading2 }}</h2>
                    </div>
                    <div class="box__content__left">
                        <p> Assignment 3 | Duedate 12/4 </p>
                        <i class="fa fa-file"></i>
                        <a href=#> Submit now </a>
                    </div>
                    
                    <div class="box__content__right">
                        <p> Type: Guestlecture </p>
                        <p>Time: 12.15-14.00 </p>
                        <p>Date: 25/4</p>
                    </div>
                    
                </div>
                
                <div class="box">
                    <div class="box__header box__header--courses">
                        <i class="fa fa-leaf" width="512" height="512"></i>
                        <h2>{{ heading3 }}</h2>
                    </div>
                    <div class="box__content__left">
                        <p> Report | Duedate 5/4</p>
                        <i class="fa fa-file"></i>
                        <a href=#> Submit now </a>
                    </div>
                    
                    <div class="box__content__right">
                        <p> Type: Seminar </p>
                        <p>Time: 11.00-12.00 </p>
                        <p>Date: 25/4</p>
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box__header box__header--schedule">
                        <i class="fa fa-calendar"></i>
                        <h2>{{ heading4 }}</h2>
                    </div>
                    <div class="box__content__left">
                        <i class="fa fa-calendar"></i>
                        <a href=#> View Your Schedule </a>
                    </div>
                    
                    <div class="box__content__right">
                        <i class="fa fa-exclamation"></i>
                        <p> Today: 11.00-12.00 </p>
                        <p> Tomorrow: 13.15-15.00</p>
                        <p> April 24th: 10.15-12.00</p>
                    </div>
                </div>
                
                <div class="box">
                    <div class="box__header box__header--questions">
                        <i class="fa fa-question-circle"></i>
                        <h2>{{ heading5 }}</h2>
                    </div>
                    <div class="box__content__left">
                        <i class="fa fa-question-circle"></i>
                        <a href=#> Ask Question </a>
                    </div>
                    
                    <div class="box__content__right">
                        <i class="fa fa-eye"></i>
                        <p> "What does "div" mean in HTML?" </p>
                        <i class="fa fa-eye"></i>
                        <p> "What time is the lecture tomorrow?"</p>
                        
                </div>
                </div>
                
                <div class="box">
                    <div class="box__header box__header--circles">
                        <i class="fa fa-users"></i>
                        <h2>{{ heading6 }}</h2>
                    </div>
                    <div class="box__content__left">
                        <i class="fa fa-users"></i>
                        <a href=#> Circle 1 </a><br>
                        <i class="fa fa-users"></i>
                        <a href=#> Circle 2 </a><br>
                        <i class="fa fa-users"></i>
                        <a href=#> Circle 3 </a><br>
                    </div>
                    
                    <div class="box__content__right">
                        <i class="fa fa-users"></i>
                        <a href=#>Circle 4 </a><br>
                        <i class="fa fa-users"></i>
                        <a href=#>Circle 5 </a><br>
                        <i class="fa fa-users"></i>
                        <a href=#>Circle 6 </a><br>
                        </div>
                    </div>
                
                </div>
            
            </div>
        
        
<div class="round-button">
    
    <div class="round-button-circle">
        
        <a href=# class="round-button"><i class="fa fa-plus"></i>Attach new box<br> to dashboard</a>
        
        
    </div></div>
        
<div class="message-button">
    
    <div class="message-button-circle">
        
        <a href=/chat class="message-button"><i class="fa fa-plus"></i>Start a chat</a>
        
        
    </div></div>


        </div><!--.row-->
    </div><!--.dashboard-->
</div><!--.app_container-->