<!-- public/views/login.html -->
<div class="container-fluid login">
    <div class="row heightfull">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 heightfull" ng-controller="LoginController">
            <div class="container--flexcenter">
                <div class="login--form text-center">
                    <h1><img src="/img/logotype.png"></h1>
                    <p ng-Class="class">{{errorMsg}}</p>
                    <form>
                        <input type="text" ng-model="email" placeholder="Email">  
                        <input type="password" ng-model="password" placeholder="Password"> <input class="button" type="submit" value="Log in" ng-click="loginFunc()">
                        <a ng-click="forgotPassword()">I've forgot my password</a>
                    </form>
                </div>
            </div>
        </div>
    </div><!---.row-->
</div><!---container-->