<app-nav></app-nav>
<div class="jumbotron text-center">
        <h1>This is the public profile, woop!</h1>

    <div ng-controller="ProfilePublicController">
        <label> First name </label>
        <p>{{first_name}}</p>
        <label> Last name </label>
        <p>{{user.last_name}}</p>
        <label> Description </label>
        <p>{{user.description}}</p>
        <label> Personality </label>
        <p>{{user.personality}}</p>
        <label> Email </label>
        <p>{{user.email}}</p>
        <label> Phone number </label>
        <p>{{user.phone_number}}</p>
    </div>
</div>