<app-nav></app-nav>
<!-- public/views/profile.html -->

<app-nav></app-nav>
<div class="app_container heightfull">
    <div class="container-fluid pbl-profile heightfull">
        <div class="row heightfull table-row newtable-row">
            <div class="col-sm-3 col-md-3 col-lg-3 heightfull pbl-profile__container" ng-controller="ProfilePublicController">
                <div class="pbl-profile__about">
                    <div class="profile__about__img"></div>
                    <h1> {{ first_name }} {{ last_name }} </h1>
                    <h2> {{ role }} </h2>
                    
                    <h1 class="uppercase">About me</h1>
                    <hr>
                    <div class="pbl-profile__about__description">  
                        <p> {{ description }}</p>
                    </div>
                </div><!---.profile__about-->
            
                
                <div class="pbl-profile__contact">
                    <h1 class="uppercase">Contact me</h1>
                    <hr>
                    
                    <p><i class="fa fa-envelope-o"></i>{{ email }}</p>
                    
                    <p><i class="fa fa-phone"></i> {{ phone_number }}</p>
                    
                    <p><i class="fa fa-home"></i> http://www.elle.com </p>
                </div><!---.profile__contact-->
            
            

                <div class="pbl-profile__links">
                    
                    <h1 class="uppercase">Follow me</h1>
                    <hr>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-google-plus"></i>
                </div><!---.profile__links-->

                    <!--Hidden for now
                    <p> Password </p>
                    <input class="form-control" ng-model="user.password" required="true">
                    <p> Role </p>
                    <input class="form-control" ng-model="user.role" required="true">-->

            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 profile__stuff">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 profile__stuff__courses">
                        
                        <h1><i class="fa fa-2x fa-book"></i>Courses</h1>
                        <!--<input class="form-control" ng-model="user.courses.course_name" required="true">-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>

                    </div>
                    <div class="col-sm-6 col-md-6 col-sm-6 profile__stuff__projects">
                        <h1><i class="fa fa-2x fa-folder-open"></i>Projects</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 profile__stuff__skills">
                        <h1><i class="fa fa-2x fa-cogs"></i>Skills</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 profile__stuff__ex">
                        <h1><i class="fa fa-2x fa-certificate"></i>Experience</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-sm-12 profile__stuff__tutorials">
                        <h1><i class="fa fa-2x fa-file-text"></i>Tutorials</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. In pulvinar metus risus, at scelerisque ex viverra sed. Integer metus nisl, sodales eu ultricies et, bibendum in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod, diam eget laoreet finibus, risus augue mollis metus, nec porta nunc sapien vitae lacus. Suspendisse suscipit tempor ornare. Morbi ut consequat velit.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-sm-12 profile__stuff__other">
                        <h1><i class="fa fa-2x fa-archive"></i>Other</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. In pulvinar metus risus, at scelerisque ex viverra sed. Integer metus nisl, sodales eu ultricies et, bibendum in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod, diam eget laoreet finibus, risus augue mollis metus, nec porta nunc sapien vitae lacus. Suspendisse suscipit tempor ornare. Morbi ut consequat velit.</p>
                    </div>
                </div>
            </div>
            <!---.col-->
        </div>
        <!---.row-->
    </div>
    <!---container-->
</div>
       <!-- <div ng-controller="ProfileController">
            
            	<p> First name </p>
                <input class="form-control" ng-model="user.first_name" required="true">
                <p> Last name </p>
                <input class="form-control" ng-model="user.last_name" required="true">
                <p> Description </p>
                <input class="form-control" ng-model="user.description" required="true">
                <p> Personality </p>
                <input class="form-control" ng-model="user.personality" required="true">
                <p> Courses </p>
                <input class="form-control" ng-model="user.courses.course_name" required="true">
                <p> Email </p>
                <input class="form-control" disabled="disabled" ng-model="user.email" required="true">
                <p> Phone number </p>
                <input class="form-control" ng-model="user.phone_number" required="true">
                <p> Password </p>
                <input class="form-control" ng-model="user.password" required="true">
                <p> Role </p>
                <input class="form-control" ng-model="user.role" required="true">
                <p> Public URL </p>
                <input class="form-control" ng-model="user.public_url" required="true">

                 <button class="btn btn-primary" ng-click="updateProfile()">Update</button>

<!--
           <div ng-repeat="user in userlist">
                <p> {{user.first_name}} </p>
                <p> {{user.email}} </p>
               <p> {{user.phone_number}} </p>
               <p> {{user.password}} </p>
           </div>
           
           -->
