@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,700italic,300,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Gravitas+One);




.development_nav {
    position: fixed;
    bottom:0px;
    right: 0px;
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #404040;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

.heightfull {
    height: 100%;
}

/* * * * * * * * * * * * * * * *   

        GLOBAL COMPONENTS    

* * * * * * * * * * * * * * * * */  

.box {
    background: rgba(255,255,255,1);
    box-shadow: 0.5px 2px 0px 1px rgba(0,0,0,.08);
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 10px;
}

.box__header svg {
    padding: 0px 5px;
    width: 25px;
    height: auto;
    display: inline-block
}

.box__header {
    border-radius: 5px 5px 0px 0px;
    background: rgba(47, 155, 134, 1);
    color: rgba(255,255,255,1);
    padding: 12px 10px;
    font-size: 1.2em;
}

.box__header h2 {
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 1em;
}

.box__content {
    padding: 20px;
}

.button {
    /*background: rgb(66,161,151);*/
    background: rgba(47, 155, 134, 1);
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 9.9px 18px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.button:active {
    box-shadow: 0 0 0 0 rgba(0,0,0,.14);
    outline: none;
}

.button:hover {
    background: rgba(47, 155, 134, 0.9);
    transition: all 1s ease;
}

.container__flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

/* * * * * * * * * * * * * * * *   

            NAV--global     

* * * * * * * * * * * * * * * * */  

.app_container { /*remove space hidden by nav*/
    padding-left: 0px;
}

.nav--global { /*nav*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgba(62,71,79,1);
    z-index: 50;
}

.nav--global ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.nav--global li {
    display: inline-block;
    height: 100%;
    width: 17%;
    padding: 0px;
    margin: 0px 0px;
    text-align: center;
}

 .nav--global a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: rgba(255,255,255,1);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.nav--global a:active {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

.nav--global a:focus {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.nav--global a:visited {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.nav--global a:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    transition: all 0.5s ease;
}

.nav--global_logotype {
    display: none;
}

/*Share li/a space with global_listitem*/
.nav--global li img, .nav--global li svg {
    width: auto;
    height: 70%;
    padding: 10% 0px;
    display: block;
    margin: auto;
}

.nav--global_svg {
    fill: rgba(255,255,255,1);
    transition: all 0.5s ease;
}

/*Share li/a space with img*/
.nav--global li span {
    height: 20%;
    display: block;
}

/*Change color on hover (svg and span of item)*/
.nav--global a:hover .nav--global_svg {
    fill: rgba(255,255,255,0.5);
    transition: all 0.5s ease;
}

.nav--global_profilitem img {
    border-radius: 50%;
}

.nav--global_profilename {
    text-transform: none;
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    .app_container { /*remove space hidden by nav*/
    padding-left: 80px;
    }
    
    .nav--global { /*nav*/
        position: fixed;
        left: 0;
        top: 0;
        width: 80px;
        height: 100%;
        background: rgba(62,71,79,1);
    }

    .nav--global li {
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        height: 80px;
        text-align: center;
        display: block;
    }

    .nav--global a {
        font-size: 11px;
    }

    .nav--global_logotype {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* * * * * * * * * * * * * * * *   

            DASHBOARD    

* * * * * * * * * * * * * * * * */  

.dashboard {
}


/* * * * * * * * * * * * * * * *   

            LOGIN     

* * * * * * * * * * * * * * * * */                

.login {
    background: url("/img/login-study-blur-light.png") center center fixed;
    width: 100%;
    height: 100%;
    /*background: rgba(235,235,235,1);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.login--error-hide {
    opacity: 0;
}

.login--error-show {
    color: #e74c3c;
    transition: all 0.5s ease;
}

.form--login {
    padding: 0px 0px;
}

.form--login ::-webkit-input-placeholder {
    color: #707070; /*brun #87794e #707070*/
}

.form--login input[type="text"]:focus::-webkit-input-placeholder, .form--login input[type="password"]:focus::-webkit-input-placeholder  {
    color: rgba(135,121,78,0.3);
    transition: all 0.1s ease;
}

.form--login input[type="text"], .form--login input[type="password"]{
    display: block;
    margin: auto;
    width: 85%;
    background: rgba(255,255,255,1);
    margin-top: 0px;
    border: 0px solid rgba(155,155,155,0.4);
    border-bottom: 2px solid rgba(155,155,155,0.4);
    margin-bottom: 5px;
    padding: 12px 20px;;
    text-align: left;
    outline: none;
    box-shadow: 0 0px 1px 0px rgba(0,0,0,.14);
}

.form--login input[type="submit"] {
    display: block;
    margin: auto;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
}

.form--login h1 img {
    padding: 5px 70px 25px 70px;
}

.form--login a {
    font-weight: 600;
    color: #404040;
    text-decoration: underline;
    padding: 15px 0px 20px 0px;
    display: inline-block;
}

.form--login a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* * * * * * * * * * * * * * * *   

            PROFILE    

* * * * * * * * * * * * * * * * */    

.profile{
    font-family: 'Open Sans';
    width:100%;
}

.profile__container {
    text-align: center;
    background-color: #ccc;
    padding-top: 30px!important;
    background: rgba(80, 174, 156, 1);
}

.profile__container h1, .profile__container h2, .profile__container p, .profile__container i{
    color: rgba(255,255,255,1) !important;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.profile__stuff{
}

.profile__stuff__courses, profile__stuff__experience, .profile__stuff__skills{
    padding-left:20px;
    height: 250px;
}

.profile__stuff__tutorials, .profile__stuff__projects, .profile__stuff__other{
    padding-left:20px;
    height:150px;
}

.profile__personality, .profile__contact, .profile__links, .profile__about{
    margin-top: 15%;
    width:95%;
}

.profile__personality p{
    padding-top: 4%;
    font-size: 3em !important;
    font-family: 'Gravitas One' !important; 
}

.profile__about__img {
    background: url("/img/profile_default.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin:0 auto;
    margin-top: 1%;
    width:120px;
    height:120px;
    border-radius: 50%;
}

.profile__about h1{
    padding-top: 4%;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Open Sans';
}

.profile__about h2{
    padding: 3% 0;
    text-align: center;
    font-size: .95em;
    font-family: 'Open Sans';
}

.profile__about p{
    padding:0% 10%;
}

.profile p{
    font-size: .9em;
}

.profile__contact .fa {
    width:8%;
    font-size: 1.2em;
    padding:0px 10px 5px 0;
}

.profile__links .fa{
    padding:0 5px;
    font-size: 1.6em;
}

.profile__links{ 
    margin-top:15%;
}

.ex {
    background-color: #ccc;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

