@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,700italic,300,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Gravitas+One);




.development_nav {
    position: fixed;
    z-index:99;
    bottom:0px;
    right: 0px;
    /*display: none;*/
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #404040;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(233,235,236,1);
}

.heightfull {
    min-height: 100%;
    min-height: 100vh;
}


/* * * * * * * * * * * * * * * *   

        GLOBAL COMPONENTS    

* * * * * * * * * * * * * * * * */  

.box {
    background: rgba(255,255,255,1);
    box-shadow: 0.5px 2px 0px 1px rgba(0,0,0,.08);
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 10px;
}

.box__header svg {
    padding: 0px 5px;
    width: 25px;
    height: auto;
    display: inline-block
}

.box__header {
    border-radius: 5px 5px 0px 0px;
    background: rgba(47, 155, 134, 1);
    color: rgba(255,255,255,1);
    padding: 12px 10px;
    font-size: 1.2em;
}

.box__header h2 {
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 1em;
}

.box__content {
    padding: 20px;
}

.button {
    /*background: rgb(66,161,151);*/
    background: rgba(47, 155, 134, 1);
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 9.9px 18px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.button:active {
    box-shadow: 0 0 0 0 rgba(0,0,0,.14);
    outline: none;
}

.button:hover {
    background: rgba(47, 155, 134, 0.9);
    transition: all 1s ease;
}

.container__flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100vh;
}

/* * * * * * * * * * * * * * * *   

            NAV--global     

* * * * * * * * * * * * * * * * */  

.app_container { /*remove space hidden by nav*/
    padding-left: 0px;
    overflow: hidden;
}

.nav--global { /*nav*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgba(62,71,79,1);
    z-index: 50;
}

.nav--global ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.nav--global li {
    display: inline-block;
    height: 100%;
    width: 17%;
    padding: 0px;
    margin: 0px 0px;
    text-align: center;
}

 .nav--global a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: rgba(255,255,255,1);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.nav--global a:active {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

.nav--global a:focus {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.nav--global a:visited {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.nav--global a:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    transition: all 0.5s ease;
}

.nav--global_logotype {
    display: none;
}

/*Share li/a space with global_listitem*/
.nav--global li img, .nav--global li svg {
    width: auto;
    height: 70%;
    padding: 10% 0px;
    display: block;
    margin: auto;
}

.nav--global_svg {
    fill: rgba(255,255,255,1);
    transition: all 0.5s ease;
}

/*Share li/a space with img*/
.nav--global li span {
    height: 20%;
    display: block;
}

/*Change color on hover (svg and span of item)*/
.nav--global a:hover .nav--global_svg {
    fill: rgba(255,255,255,0.5);
    transition: all 0.5s ease;
}

.profileitem {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(62,71,79,0.9);
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 600;
    height: 40px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 40;
}

.profileitem img {
    width: auto;
    height: 70%;
    border-radius: 50%;
    padding: 0px 10px;
}

.profileitem span {
    height: auto;
}

.profileitem:visited {
    color: rgba(62,71,79,0.9);
}

.profileitem:focus {
    color: rgba(62,71,79,0.9);
}

.profileitem:hover, .profileitem:active {
    color: rgba(0,0,0,0.2);
    text-decoration: none;
}

.profileitem:hover, img .profileitem:active img {
    opacity: 0.8;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    .app_container { /*remove space hidden by nav*/
    padding-left: 80px;
    }
    
    .nav--global { /*nav*/
        position: fixed;
        left: 0;
        top: 0;
        width: 80px;
        height: 100%;
        background: rgba(62,71,79,1);
    }

    .nav--global li {
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        height: 80px;
        text-align: center;
        display: block;
    }

    .nav--global a {
        font-size: 11px;
    }

    .nav--global_logotype {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* * * * * * * * * * * * * * * *   

            PAGES  

* * * * * * * * * * * * * * * * */  

.dashboard, .courses {
    padding-top: 50px;
}

.body--paddingtop {
    padding-top: 50px;
}
.box--courses a{
    text-decoration: none;
}

.box--courses a:hover {
    text-decoration: none;
}

.box--courses .box {
    transition: all 0.3s ease;
}

.box--courses:hover .box {
    margin-top: -3px;
    transition: all 0.3s ease;
    
}

/* * * * * * * * * * * * * * * *   

            NAV local (courses) 

* * * * * * * * * * * * * * * * */  


.nav--local {
    background: rgba(62,71,79,0.5);
    padding-right: 0px;
    padding-left: 0px;
}

.nav--local ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav--local li ul li a {
    padding-left: 40px;
}

.nav--local .fa {
    float: right;
}

.nav--local a {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    color: rgba(255,255,255,1);
}

.nav--local a:hover {
    background-color: rgba(62,71,79,0.7);
}


.nav--local li.active {
    background-color: rgba(47, 155, 134, 1);
}




/* * * * * * * * * * * * * * * *   

            COURSES   

* * * * * * * * * * * * * * * * */  

.courses_filter {
    border: 2px solid rgba(0,0,0,0.1);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.courses_filter_header {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: right;
}

.coursebody {
    min-height: 100%;
    height: 100vh;
}

.course .container-fluid { /* full col padding fix*/
    margin-right: -30px;
}


/* * * * * * * * * * * * * * * *   

        BS full height col 

* * * * * * * * * * * * * * * * */  
/* FIX: remove container padding*/

@media (min-width: 768px) {
  .row.table-row {
      display:table;
      width:100%;
      margin-right: -15px;
      margin-left: -15px;      
    }

  .row.table-row > [class*="col-"] {
    float:none;
    display:table-cell;
    vertical-align:top;
      overflow: hidden;
  }

  .row.table-row > .col-sm-11 {
    width: 91.66666666666666%;
  }
  .row.table-row > .col-sm-10 {
    width: 83.33333333333334%;
  }
  .row.table-row > .col-sm-9 {
    width: 75%;
  }
  .row.table-row > .col-sm-8 {
    width: 66.66666666666666%;
  }
  .row.table-row > .col-sm-7 {
    width: 58.333333333333336%;
  }
  .row.table-row > .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .row.table-row > .col-sm-3 {
    width: 25%;
  }
  .row.table-row > .col-sm-2 {
    width: 16.666666666666664%;
  }
  .row.table-row > .col-sm-1 {
    width: 8.333333333333332%;
  }
}

/* * * * * * * * * * * * * * * *   

            LOGIN     

* * * * * * * * * * * * * * * * */                

.login {
    background: url("/img/login-study-blur-light.png") center center fixed;
    width: 100%;
    height: 100%;
    height: 100vh;
    /*background: rgba(235,235,235,1);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
}

.login--error-hide {
    opacity: 0;
}

.login--error-show {
    color: #e74c3c;
    transition: all 0.5s ease;
}

.form--login {
    padding: 0px 0px;
}

.form--login ::-webkit-input-placeholder {
    color: #707070; /*brun #87794e #707070*/
}

.form--login input[type="text"]:focus::-webkit-input-placeholder, .form--login input[type="password"]:focus::-webkit-input-placeholder  {
    color: rgba(135,121,78,0.3);
    transition: all 0.1s ease;
}

.form--login input[type="text"], .form--login input[type="password"]{
    display: block;
    margin: auto;
    width: 85%;
    background: rgba(255,255,255,1);
    margin-top: 0px;
    border: 0px solid rgba(155,155,155,0.4);
    border-bottom: 2px solid rgba(155,155,155,0.4);
    margin-bottom: 5px;
    padding: 12px 20px;;
    text-align: left;
    outline: none;
    box-shadow: 0 0px 1px 0px rgba(0,0,0,.14);
}

.form--login input[type="submit"] {
    display: block;
    margin: auto;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
}

.form--login h1 img {
    padding: 5px 70px 25px 70px;
}

.form--login a {
    font-weight: 600;
    color: #404040;
    text-decoration: underline;
    padding: 15px 0px 20px 0px;
    display: inline-block;
}

.form--login a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* * * * * * * * * * * * * * * *   

            PUBLIC PROFILE    

* * * * * * * * * * * * * * * * */    

/*.profile{
    font-family: 'Open Sans';
    width:100%;
}

.profile__container {
    text-align: center;
    background-color: #ccc;
    padding-top: 30px!important;
    background: rgba(80, 174, 156, 1);
}

.profile__container h1, .profile__container h2, .profile__container p, .profile__container i{
    color: rgba(255,255,255,1) !important;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.profile__contact{
    padding:0 0 0 0;
}

.profile__stuff__courses, profile__stuff__experience, .profile__stuff__skills{
    padding-left:20px;
    height: 250px;
}

.profile__stuff__tutorials, .profile__stuff__projects, .profile__stuff__other{
    padding-left:20px;
    height:150px;
}

.profile__personality, .profile__contact, .profile__links, .profile__about{
    margin-top: 15%;
}

.profile__personality h1{
    padding-top: 4%;
    font-size: 1.1em;
}

.profile__personality p{
    font-size: 3em !important;
    font-family: 'Gravitas One' !important; 
}

.profile__about__description i {
    font-size: .9em;
    float: right;
}

.profile__about__img {
    background: url("/img/profile_default.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin:0 auto;
    margin-top: 1%;
    width:120px;
    height:120px;
    border-radius: 50%;
}

.profile__about h1{
    padding-top: 4%;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Open Sans';
}

.profile__about h2{
    padding: 3% 0;
    text-align: center;
    font-size: .95em;
    font-family: 'Open Sans';
}

.profile__about p{
    padding:0% 10%;
}

.profile p{
    font-size: .9em;
}

.profile__contact .fa {
    font-size: 1em;
    padding:0px 10px 5px 0;
}


.profile__links .fa{
    padding:0 5px;
    font-size: 1.6em;
}

.profile__links{ 
    margin-top:15%;
}

*/

/* * * * * * * * * * * * * * * *   

            PROFILE    

* * * * * * * * * * * * * * * * */    

.profile{
    width:100%;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.profile hr{
    margin-top:10px !important;
}

.profile__container {
    padding:0 2%;
    background-color: rgba(132,182,182,1);
    padding-top: 30px!important;
    position: relative;
    height: auto !important; /* for modern browsers */
	min-height: 100%; /* for IE */
    top: 0;
    max-height: 1200px;
}

.profile__container h1, .profile__container h2, .profile__container p, .profile__container i{
    color: rgba(255,255,255,1) !important;
}

.profile__contact{
    padding:0 0 0 0%;
    text-align: left;
}

.profile__stuff__tutorials, .profile__stuff__projects, .profile__stuff__other{
    padding-left:20px;
    height:200px;
}

.profile__personality, .profile__contact, .profile__links, .profile__about{
    margin-top: 10%;
}

.profile__personality h1{
    padding-top: 4%;
    font-size: .9em;
}


.profile__about__description i, .profile__contact .fa-first {
    font-size: .9em;
    float: right;
}

.profile__about__img {
    background: url("/img/profile_default.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin:0 auto;
    margin-top: 1%;
    width:120px;
    height:120px;
    border-radius: 50%;
}

.profile__about h1{
    padding-top: 4%;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Open Sans';
}

.profile__about h2{
    padding: 3% 0;
    text-align: center;
    font-size: .95em;
    font-family: 'Open Sans';
}

.profile p{
    font-size: .95em;
}

.profile__contact > p .fa {
    padding:0px 10px 5px 0;
}

.profile__contact i:last-child:hover, .profile__about__description i:hover{
    font-size: 1em;    
}

.profile__stuff__courses, .profile__stuff__skills, .profile__stuff__ex{
    width:31%;
    background-color: #fff;  
    margin: 7% 1.5% 0 0;
    padding:0;
    height:250px;
    border-radius: 5px;
    
}

.profile__stuff__projects, .profile__stuff__tutorials, .profile__stuff__other {
    width:96%;
    background-color: #fff;  
    margin: 3.5% 2% 0 2%;
    padding:0;
    height:250px;
    border-radius: 5px;
}

.profile__stuff__courses i, .profile__stuff__skills i, .profile__stuff__ex i, .profile__stuff__projects i, .profile__stuff__tutorials i, .profile__stuff__other i{
    position: absolute;
    top:20px;
    right:15px;
    color:#fff;
}

.profile__stuff__courses{
    margin-left:2%;
}

.profile__stuff__courses h1, .profile__stuff__skills h1, .profile__stuff__ex h1{
    text-align: center;
    font-size: 1.15em;
    text-transform: uppercase;
    padding:20px 30px;
    color:#fff;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5%;
}

.profile__stuff__projects h1, .profile__stuff__tutorials h1, .profile__stuff__other h1{
    text-align: center;
    font-size: 1.15em;
    text-transform: uppercase;
    padding:20px 30px;
    color:#fff;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2%;
}

.profile__stuff__courses p, .profile__stuff__skills p, .profile__stuff__ex p{
    padding:5px 30px;
}

.profile__stuff__projects p, .profile__stuff__tutorials p, .profile__stuff__other p{
    padding:5px 30px 20px 30px;
}

.profile__stuff__courses h1{
    background-color: rgba(100,87,138,1);
}

.profile__stuff__skills h1{
    background-color: rgba(166,80,100,1);
}

.profile__stuff__ex h1{
    background-color: rgba(213,107,48,1);
}

.profile__stuff__projects h1{
    background-color: rgba(61,128,99,1);
}

.profile__stuff__tutorials h1{
    background-color: rgba(199,77,79,1);
}

.profile__stuff__other h1{
    background-color: rgba(49,102,153,1);
}

.profile__stuff {
    margin-bottom: 30px;
    overflow: hidden;
}

.profile__about__description textarea{
    width:100%;
    height:80px;
    border:none;
    padding:5px;
    font-size: .9em;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

