<div class="col-md-24 box">
    <div class="box__content">
        <h2>My courses</h2>
        <button class="btn btn--add btn--courses"
                ng-show="auth"
                ng-click="castTheCourseModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Course
        </button>
        <table class="table--courses">
            <thead>
                <tr>
                    <th><strong>Course</strong></th>
                    <th>Code</th>
                    <th>End Date</th>
                    <th>Active</th>
                    <th>Pin</th>
                </tr>
            </thead>

            <!--repeat all courses that the user belongs to -->
            <tbody>
                <tr ng-repeat="course in courses">

                    <td ng-if="course.status == true">
                        <i ng-if="course.configDone == false" class="fa fa-exclamation"></i>
                        <a href="" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                            <p>{{course.name}}</p>
                        </a>
                    </td>
                    <td ng-if="course.status == true">

                            <p>{{course.code}}</p>

                    </td>
                    <td ng-if="course.status == true">
                      <p>{{course.end | date:'shortDate' }}<p>
                    </td>
                    <td>
                        <i ng-if ="course.status == true"class="fa fa-dot-circle-o">
                            <span ng-class="class" ng-if=""></span>
                        </i>
                        <i ng-if ="course.status == false"class="fa fa-circle-o">
                            <span ng-class="class" ng-if=""></span>
                    </td>
                    <td>
                      <button class="btn btn--pin--inactive" ng-click="unPinCourse(course)">
                      <i class="fa fa-thumb-tack" ></i>
                        Pin
                    </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
