<div class="col-md-24 box">
    <div class="box__content">
        <h2>{{ heading }}</h2>
        <button class="btn btn--add btn--courses"
                ng-show="auth"
                ng-click="castTheCourseModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Course
        </button>
        <table class="table--courses">
            <thead>
                <tr>
                    <th><strong>Course</strong></th>
                    <th>Code</th>
                    <th>End Date</th>
                    <th>Active</th>
                    <th>Pin</th>
                </tr>
            </thead>

            <!--repeat all courses that the user belongs to -->
            <tbody>

                <tr ng-repeat="course in courses track by $index">


                    <td ng-if="course.status == true" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                        <i ng-if="course.configDone == false" class="fa fa-exclamation"></i>
                            {{course.name}}
                    </td>
                    <td ng-if="course.status == true" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                            {{course.code}}
                    </td>
                    <td ng-if="course.status == true" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                      {{course.end | date:'shortDate' }}
                    </td>
                    <td ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                        <i ng-if ="course.status == true"class="fa fa-dot-circle-o">
                            <span ng-class="class" ng-if=""></span>
                        </i>
                        <i ng-if ="course.status == false"class="fa fa-circle-o">
                            <span ng-class="class" ng-if=""></span>
                    </td>
                    <td>
                      <button ng-hide="isCoursesPin" class="btn btn--pin--inactive" ng-click="pinCourse(course)">
                      <i class="fa fa-thumb-tack" ></i>
                        Pin
                    </button>
                    <button ng-show="isCoursesPin" class="btn btn--pin--inactive" ng-click="pinCourse(course)">
                    <i class="fa fa-thumb-tack" ></i>
                      Unpin
                  </button>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
