<div class="courses--pinned">
  <div class="col-md-12" ng-repeat="course in myCourses">
      <div class="box--label box--label--courses" >

              <h2 class="box--label_heading--courses"><i class="fa--heading fa fa-leaf"></i>
                <a href="" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">{{course.name}}</a>

                <button class="btn btn--pin--active" ng-click="unPinCourse(course)">
                <i class="fa fa-thumb-tack" ></i>
                Unpin
              </button>
            </h2>


          <div class="box__content">

            <label for="code">Course Code</label>
            <p name="code">{{course.code}}</p>
            <label for="desc">Description</label>
            <p name="desc"><small>{{course.description}}<small></p>
              <table class="table--courses">
                  <thead>
                      <tr>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Wall</th>
                          <th>Assignm.</th>
                          <th>FAQ</th>
                          <th>Resources</th>
                          <th>Active</th>
                      </tr>
                  </thead>

                  <!--repeat all courses that the user belongs to -->
                  <tbody>
                      <tr ng-click="courseLocation($event)" dataLocation="{{ course.url }}">

                        <td ng-if="course.status == true">
                          <p>{{course.start | date:'shortDate' }}<p>
                        </td>
                          <td ng-if="course.status == true">
                            <p>{{course.end | date:'shortDate' }}<p>
                          </td>
                          <td ng-if="course.status == true">
                              <i class="fa fa-thumb-tack">
                                  <span ng-if=""></span>
                              </i>
                          </td>
                          <td ng-if="course.status == true">
                              <i class="fa fa-file-text-o"></i>
                                  <span ng-class="class" ng-if="course.assignments > 0">+{{ course.assignments }}</span>
                              </i>
                          </td>
                          <td ng-if="course.status == true">
                              <i class="fa fa-question-circle"></i>
                                  <span  ng-if=""></span>
                              </i>
                          </td>
                          <td ng-if="course.status == true">
                              <i class="fa fa-book">
                                  <span ng-class="class" ng-if=""></span>
                              </i>
                          </td>
                          <td>
                              <i ng-if ="course.status == true"class="fa fa-dot-circle-o">
                                  <span ng-class="class" ng-if=""></span>
                              </i>
                              <i ng-if ="course.status == false"class="fa fa-circle-o">
                                  <span ng-class="class" ng-if=""></span>
                          </td>

                  </tbody>
              </table>
          </div>

        </div>
    </div><!--col end-->
</div><!--col end-->
