
<div class="app_container">
    <div class="container courses">
        <!--
        <div class="row">

            
            <div class="col-md-12">
                <h1>{{ heading }}</h1>
            </div>
            <div class="col-md-1 courses_filter_header">
                <p>Sort:</p>
            </div>
            start of filter(Placeholder) 
            <div class="col-md-3">
                <select class="courses_filter">
                    <option>Active</option>
                    <option>Inactive</option>
                    
                </select>
            </div>
            <div class="col-md-3">
                <select class="courses_filter">
                    <option value="date">2-3-2016</option>
                    <option value="date">12-2-2016</option>
                    <option value="date">23-5-2016</option>
                    <option value="date">1-9-2016</option>
                </select>
            </div>
            <div class="col-md-3">
                <p class="courses_filter">Deadline</p>
            </div>
            
        </div>
        -->
        <div class="row">
            <i class="fa fa-plus-square-o fa-3x testbtn" ng-click="toggleCustom()"></i>
            <!--ng-repeat--><!-- IF ACTIVE START -->
            <div ng-repeat="course in courses">
                <div ng-if="course.status == 'active'">
                <!--repeat all courses that the user belongs to -->
                
                <div class="col-md-10 col-md-offset-1 box--courses ">
                    <a href="" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                        <div class="box">
                            <div class="box__header--active">
                                <h2 class="chck_course">{{ course.status }}
                                <i class="fa fa-check-circle"></i></h2>
                                
                                <h2><i class="fa--heading fa fa-leaf"></i> {{ course.name }}</h2>
                            </div>
                            <div class="row" ng-hide="custom">
                                <div class="col-md-4">
                                    <p class="rubtxt">Info</p>
                                    <p class="infotxt"><i class="fa fa-info"></i> This Info is about this course... </p>
                                    
                                </div>
                                <div class="col-md-4">
                                    <p class="rubtxt">Upcoming events</p>
                                    <a href="{{ url }}"><p class="upgText">  Seminarie      24/3 9:55</p></a>
                                    <a href="{{ url }}"><p class="upgText">  Seminarie      31/3 12:55</p></a>
                                </div>
                                <div class="col-md-4">
                                    <p class="rubtxt">Assignments</p>
                                    <a href="{{ url }}"><p class="upgText"><i class="fa fa-paperclip"></i>  Assignment 1      12/3 12:55</p></a>
                                    <a href="{{ url }}"><p class="upgText"><i class="fa fa-paperclip"></i>  Assignment 2      27/3 23:55</p></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            </div><!--ng-repeat--><!-- IF INACTIVE START -->
            <div ng-repeat="course in courses">
                <div ng-if="course.status == 'inactive'">
                <!--repeat all courses that the user belongs to-->
                <div class="col-md-10 col-md-offset-1 box--courses ">
                    <a href="" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                        <div class="box">
                            <div class="box__header--inactive">
                                <h2 class="chck_course">{{ course.status }}
                                <i class="fa fa-circle"></i></h2>
                                
                                <h2><i class="fa--heading fa fa-leaf"></i> {{ course.name }}</h2>
                            </div>
                            <div class="row" ng-hide="custom">
                                <div class="col-md-4">
                                    <p class="rubtxt">Info</p>
                                    <p class="infotxt"><i class="fa fa-info"></i> This Info is about this course... </p>
                                    
                                </div>
                                <div class="col-md-4">
                                    <p class="rubtxt">Upcoming events</p>
                                    <p class="upgText"> None</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="rubtxt">Assignments</p>
                                    <a href="{{ url }}"><p
                                    <p class="upgText"><i class="fa fa-paperclip"></i> None</p>
                            </div>
                        </div>
                    </a>
                </div>
                    
                </div>
                </select>
            </div><!--ng-repeat-->
        </div><!--.row-->
    </div><!--.dashboard-->
</div><!--.app_container-->



            