<!-- public/views/chat.html -->
<app-nav></app-nav>
<div class="jumbotron text-center">
    <h1>Chat</h1>
        <form>
            <input ng-style="style(color)" type="text" ng-model="text" placeholder="text">
            <button ng-click="sendMessage()">Send!</button>
        </form>

        <table style="display:block; margin-left: auto; margin-right: auto; width:700px;" ng-repeat="msg in channel">
            <tr>
                <th>User</th>
                <th>Message</th>
            </tr>
            <tr>
                <td>{{msg.user}}</td>
                <td>{{msg.text}}</td>
            </tr>
        </table>
</div>