<!-- public/views/login.html -->
<div class="container-fluid login">
    <div class="row heightfull">
        <div class="col-sm-12 col-sm-offset-6 col-md-12 col-md-offset-6 col-lg-12 col-lg-offset-6 heightfull">
            <div class="container__flexcenter">
                <div class="form--login text-center">
                    <h1><img src="/img/logotype/leargning-made-simple-logotype--dark.png"></h1>
                    <form id="resetPass-form" ng-hide="formBoxHide">
                        <p>Enter your Email Address</p>
                        <input class="form-control" type="text" ng-model="email" placeholder="Email">   
                        <input class="button" type="submit" value="Reset Password" ng-click="resetPassword()">
                    </form>
                    <div ng-show="resultMessage">
                        <h5>A new password has been sent to the following 
                        Email if it is registered</h5>
                        <form><input Type="button" value="Back" onClick="history.go(-1);return true;"></form>
                    </div>
                </div>
            </div>
        </div>
    </div><!---.row-->
</div><!---container-->