.box__info {
    height: auto;
}
.box__info--h1 {
    text-decoration: underline;
    text-align: center;
    color:grey;
}
.box__info--text {
    text-align: justify;
    font-family: sans-serif;
    margin-bottom: 1%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.box__info--list {
    
    font-weight: bold;
    list-style: none;
    margin-left: 20%;
    font-family: sans-serif;
    margin-top: 2%;
}
.submit__button {
    padding-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}