
<div class="col-md-24">
  <div class="box">
    <div class="box__header box__header--courses">
        <h2><i class="fa--heading fa fa-leaf"></i>{{heading}}</h2>
    </div>


    <div class="box__content">
        <table class="table--courses">
            <thead>
                <tr>

                    <th>Course</th>
                    <th>End Date</th>
                    <th>Wall</th>
                    <th>Assignm.</th>
                    <th>FAQ</th>
                    <th>Resources</th>
                </tr>
            </thead>

            <!--repeat all courses that the user belongs to -->
            <tbody>
                <tr ng-repeat="course in courses">

                    <td ng-if="course.status == true">
                        <i ng-if="course.configDone == false" class="fa fa-exclamation"></i>
                        <a href="" ng-click="courseLocation($event)" dataLocation="{{ course.url }}">
                            <p>{{course.name}}</p>
                            <p>{{course.code}}</p>
                        </a>
                    </td>
                    <td ng-if="course.status == true">
                      <p>{{course.end | date:'shortDate'}}</p>
                    </td>
                    <td ng-if="course.status == true">
                        <i class="fa fa-thumb-tack">
                            <span ng-if=""></span>
                        </i>
                    </td>
                    <td ng-if="course.status == true">
                        <i class="fa fa-file-text-o"></i>
                            <span ng-class="class" ng-if="course.assignments > 0">+{{ course.assignments }}</span>
                        </i>
                    </td>
                    <td ng-if="course.status == true">
                        <i class="fa fa-question-circle"></i>
                            <span  ng-if=""></span>
                        </i>
                    </td>
                    <td ng-if="course.status == true">
                        <i class="fa fa-book">
                            <span ng-class="class" ng-if=""></span>
                        </i>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
