<div class="app_container heightfull">
    <div class="container-fluid heightfull ng-scope">
        <div class="row">

            <nav class="col-sm-24 col-md-24 nav--local" ng-if="!showAll">
                <course-courseNav></course-courseNav>
            </nav>
            <div class="col-sm-22 col-md-22 col-md-offset-1">
                <breadcrumbs-breadcrumbs></breadcrumbs-breadcrumbs>
                <div class="col-md-24 box box__content resources">
                    <div class="col-md-24">
                        <div class="col-md-24">
                            <h1> {{title}} </h1>
                            <button class="btn btn--add btn--resources" ng-show="auth" ng-click="castTheResourceModal()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add
                            </button>
                        </div>
                        <div class="col-md-12">
                            <label for="searchResource">Search</label>
                            <input type="search" id="searchResource" class="form-control" ng-model="search" placeholder="">
                        </div>
                        <div class="col-md-12" ng-show="showAll">
                            <label for="filterCourse">Filter by course</label>
                            <select ng-model="selectedCourse" class="form-control" name="filterCourse">
                                <option value="" ng-selected=true>All</option>
                                <option ng-repeat="aCourse in courseFilter">
                                    {{aCourse}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-24">
                        <table class="table--resources">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Published</th>
                                    <th scope="col">Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="resource in resourceList | filter: search | filter: {course: selectedCourse} | orderBy: '-uploaded_on'" ng-click="updateLocation(resource.url)" >
                                    <td>{{resource.title}} </td>
                                    <td>{{resource.course}}</td>
                                    <td>{{resource.uploaded_on | date}}</td>
                                    <td>{{resource.author}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--.row table-->
    </div><!--container-->
  </div><!--.app_container-->
