<div class="app_container heightfull">
    <div class="container-fluid profile heightfull">

        <div class="row heightfull table-row newtable-row">
            <div class="col-sm-3 col-md-3 col-lg-3 heightfull profile__container">
                <div class="profile__about">
                    <h1> {{ first_name }} {{ last_name }} </h1>
                    <h2> {{ role }} </h2>
                    <div class="profile__about__img"></div>
                </div><!---.profile__about-->

                <div class="profile__description">
                    <i ng-class="class" ng-click="editDescription()"></i>
                    <h2 class="uppercase">Description</h2>
                    <p ng-show="descriptionEnabled"> {{ description }}</p>
                    <textarea ng-model="description" ng-hide="descriptionEnabled">{{ description }}</textarea>
                </div><!---.profile__description-->

                <div class="profile__contact">
                    <i ng-class="contact_class" class="fa-first" ng-click="editContact()"></i>
                    <h2 class="uppercase">Contact details</h2>
                    <div class="profile__icon_first">
                        <i class="fa fa-envelope-o"></i><p>{{ email }} </p>
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-phone"></i>
                        <p ng-show="contactEnabled"> {{ phone_number }} </p>
                        <input type="text" ng-hide="contactEnabled" ng-model="phone_number">
                    </div>

                    <div class="profile__icon_first">
                        <i class="fa fa-home"></i>
                        <p ng-show="contactEnabled"> {{homepage}}</p>
                        <input type="text" ng-hide="contactEnabled" ng-model="homepage">
                    </div>

                </div>
                <!---.profile__contact-->

                <div class="profile__social">
                    <i ng-class="links_class" class="fa-first" ng-click="editLinks()"></i>
                    <h2 class="uppercase">Social links</h2>
                    <div class="profile__icon_first">
                        <i class="fa fa-linkedin"></i>
                        <p ng-show="linksEnabled"> {{linkedin}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="linkedin">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-github"></i>
                        <p ng-show="linksEnabled"> {{github}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="github">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-facebook"></i>
                        <p ng-show="linksEnabled"> {{facebook}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="facebook">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-twitter"></i>
                        <p ng-show="linksEnabled"> {{twitter}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="twitter">
                    </div>
                    <a class="pbl-profile-link" href="profile/{{url}}">View public profile<i class="fa fa-arrow-right"></i></a>
                </div>
                <div id="slack_auth">
                    <a href="https://slack.com/oauth/authorize?client_id=19435876323.23240924768&scope=team%3Aread+users%3Aread+channels%3Awrite+channels%3Ahistory+channels%3Aread+groups%3Awrite+chat%3Awrite%3Auser&redirect_uri=http://localhost:3000/myprofile/&team=T0KCTRS9H"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/Add_to_slack@2x.png 2x" /></a>
                </div>

            </div>

            <div class="col-sm-18 col-md-18 col-lg-18 profile__stuff">
                <div class="row">
                    <div class="col-sm-24 col-md-12 col-lg-12 profile__stuff__courses">
                        <h1><i class="fa fa-2x fa-book"></i>Courses</h1>
                        <i class="fa fa-pencil"></i>
                        <!--<input class="form-control" ng-model="user.courses.course_name" required="true">-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>
                    </div> <!--- .col -->
                    <div class="col-sm-24 col-md-12 col-lg-12 profile__stuff__projects">
                        <h1><i class="fa fa-2x fa-folder-open"></i>Projects</h1>
                        <i class="fa fa-pencil"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. </p>
                    </div>
                </div> <!--- .row-->

                <div class="row">
                    <div class="col-sm-24 col-md-12 col-lg-12 profile__stuff__skills">
                        <h1><i class="fa fa-2x fa-cogs"></i>Skills</h1>
                        <i class="fa fa-pencil"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>
                    </div>
                    <div class="col-sm-24 col-md-12 col-lg-12 profile__stuff__ex">
                        <h1><i class="fa fa-2x fa-certificate"></i>Experience</h1>
                        <i class="fa fa-pencil"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus.</p>
                    </div>
                </div>

                <div class="row">
                    <div ng-if="isStudent" ng-show="isStudent"class="col-sm-12 col-md-12 col-sm-12 profile__stuff__tutorials">
                        <h1><i class="fa fa-2x fa-file-text"></i>Tutorials</h1>
                        <i class="fa fa-pencil"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. In pulvinar metus risus, at scelerisque ex viverra sed. Integer metus nisl, sodales eu ultricies et, bibendum in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod, diam eget laoreet finibus, risus augue mollis metus, nec porta nunc sapien vitae lacus. Suspendisse suscipit tempor ornare. Morbi ut consequat velit.</p>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="isStudent" ng-show="isStudent" class="col-sm-12 col-md-12 col-sm-12 profile__stuff__other">
                        <h1><i class="fa fa-2x fa-archive"></i>Other</h1>
                        <i class="fa fa-pencil"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. In pulvinar metus risus, at scelerisque ex viverra sed. Integer metus nisl, sodales eu ultricies et, bibendum in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod, diam eget laoreet finibus, risus augue mollis metus, nec porta nunc sapien vitae lacus. Suspendisse suscipit tempor ornare. Morbi ut consequat velit.</p>
                    </div>
                </div>
            </div><!---.col-->
        </div><!---.row-->
    </div><!---container-->
</div>


<!-- <div ng-controller="ProfileController">

            	<p> First name </p>
                <input class="form-control" ng-model="user.first_name" required="true">
                <p> Last name </p>
                <input class="form-control" ng-model="user.last_name" required="true">
                <p> Description </p>
                <input class="form-control" ng-model="user.description" required="true">
                <p> Personality </p>
                <input class="form-control" ng-model="user.personality" required="true">
                <p> Courses </p>
                <input class="form-control" ng-model="user.courses.course_name" required="true">
                <p> Email </p>
                <input class="form-control" disabled="disabled" ng-model="user.email" required="true">
                <p> Phone number </p>
                <input class="form-control" ng-model="user.phone_number" required="true">
                <p> Password </p>
                <input class="form-control" ng-model="user.password" required="true">
                <p> Role </p>
                <input class="form-control" ng-model="user.role" required="true">
                <p> Public URL </p>
                <input class="form-control" ng-model="user.public_url" required="true">

                 <button class="btn btn-primary" ng-click="updateProfile()">Update</button>

<!--
           <div ng-repeat="user in userlist">
                <p> {{user.first_name}} </p>
                <p> {{user.email}} </p>
               <p> {{user.phone_number}} </p>
               <p> {{user.password}} </p>
           </div>

           -->
