<div class="app_container heightfull">
    <div class="container-fluid profile heightfull">


        <div class="row heightfull table-row newtable-row">
            <div class="col-sm-3 col-md-3 col-lg-3 heightfull profile__container">
                <div class="profile__about">
                    <h1> {{ first_name }} {{ last_name }} </h1>
                    <h2> {{ role }} </h2>

                    <div class="profile__about__img">
                        <div class="upload_img" ngf-select="uploadPicture($file)">
                            <i class="fa fa-camera-retro" aria-hidden="true"></i>
                             Upload
                             <input
                               type="file"
                               ngf-select
                               ng-model="file"
                               name="file"
                               ngf-max-size="20MB"
                            />
                        </div>
                    </div>
                </div><!---.profile__about-->

                <div class="profile__description">
                    <h2 class="uppercase">Description</h2>
                    <p ng-show="descriptionEnabled" ng-click="editDescription()"> {{ description }}</p>
                    <i ng-show="descriptionEnabled" class="fa fa-pencil" ng-click="editDescription()"></i>
                    <textarea ng-model="description" ng-hide="descriptionEnabled">{{ description }}</textarea>
                    <button class="btn" ng-hide="descriptionEnabled" ng-click="cancelDescription()">Cancel</button>
                    <button class="btn" ng-hide="descriptionEnabled" ng-click="saveDescription()">Save</button>
                </div><!---.profile__description-->

                <div class="profile__contact">
                    
                    <h2 class="uppercase">Contact details</h2>
                        
                        <p ng-show="contactEnabled"><i class="fa fa-envelope-o"></i>{{ email }} </p>
                        <i class="fa fa-pencil" ng-click="editContact()"></i>
                        <input type="text" ng-hide="contactEnabled" ng-model="email">

                        
                        <p ng-show="contactEnabled"> <i class="fa fa-phone"></i>{{ phone_number }} </p>
                        <i class="fa fa-pencil" ng-click="editContact()"></i>
                        <input type="text" ng-hide="contactEnabled" ng-model="phone_number">

                        
                        <p ng-show="contactEnabled"> <i class="fa fa-home"></i>{{homepage}}</p>
                        <i class="fa fa-pencil" ng-click="editContact()"></i>
                        <input type="text" ng-hide="contactEnabled" ng-model="homepage">

                </div>
                <!---.profile__contact-->

                <div class="profile__social">
                    <i ng-class="links_class" class="fa-first" ng-click="editLinks()"></i>
                    <h2 class="uppercase">Social links</h2>
                    <div class="profile__icon_first">
                        <i class="fa fa-linkedin"></i>
                        <p ng-show="linksEnabled"> {{linkedin}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="linkedin">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-github"></i>
                        <p ng-show="linksEnabled"> {{github}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="github">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-facebook"></i>
                        <p ng-show="linksEnabled"> {{facebook}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="facebook">
                    </div>
                    <div class="profile__icon_first">
                        <i class="fa fa-twitter"></i>
                        <p ng-show="linksEnabled"> {{twitter}} </p>
                        <input type="text" ng-hide="linksEnabled" ng-model="twitter">
                    </div>
                    <a class="pbl-profile-link" href="profile/{{url}}">View public profile<i class="fa fa-arrow-right"></i></a>
                </div>
                <div id="slack_auth">
                    <a href="https://slack.com/oauth/authorize?client_id=19435876323.23240924768&scope=team%3Aread+users%3Aread+channels%3Awrite+channels%3Ahistory+channels%3Aread+groups%3Awrite+chat%3Awrite%3Auser&redirect_uri=http://localhost:3000/myprofile/&team=T0KCTRS9H"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/Add_to_slack@2x.png 2x" /></a>
                </div>

            </div>

            <div class="col-sm-18 col-md-18 col-lg-18 profile__stuff">
                <div class="row">
                    <div class="col-sm-24 col-md-12 col-lg-12">
                        <div class="profile__stuff__courses">
                            <h1><i class="fa fa-2x fa-book"></i>Courses</h1>
                            <ul ng-repeat = 'course in courses'>
                                <a href="courses/{{course.url}}"><li> {{course.name}}</li></a>
                            </ul>
                        </div><!--Empty div to get spacing-->
                    </div> <!--- .col -->
                    <div class="col-sm-24 col-md-12 col-lg-12">
                        <div class="profile__stuff__projects">
                            <h1><i class="fa fa-2x fa-folder-open"></i>Projects</h1>
                            <i class="fa fa-pencil"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. </p>
                        </div><!--Empty div to get spacing-->
                    </div> <!-- .col -->
                </div> <!--- .row-->

                <div class="row">
                    <div class="col-sm-24 col-md-12 col-lg-12">
                        <div class="profile__stuff__skills">
                            <h1><i class="fa fa-2x fa-cogs"></i>Skills</h1>  

                            <input id="skills" ng-model="searchTags">

                            <i ng-click="addSkill()" class="fa fa-plus"></i>

                            <ul ng-repeat = 'skill in skills'>  
                                <li ng-mouseenter="show = true" ng-mouseleave="show = false" ng-click="removeSkill(skill)"> {{skill.tag}} <div style="position:absolute;" ng-show="show" class="fa fa-trash"></div> </li>
                            </ul>                          
                    
                        </div><!--Empty div to get spacing-->
                    </div><!-- .col -->
                    
                    <div class="col-sm-24 col-md-12 col-lg-12">
                        <div class="profile__stuff__ex">
                            <h1><i class="fa fa-2x fa-certificate"></i>Experience</h1>
                            <i ng-click="showAddDiv()" class="fa fa-plus"></i>
                            <div class="col-lg-24 show_add_div">
                                

                                <h2 class="uppercase">Company / School</h2>
                                <input ng-model="company_school"></input>
                                <br>
                                <h2 class="uppercase">Titel / Education</h2>
                                <input ng-model="title_education"></input>
                                <br>
                                <h2 class="uppercase">Location</h2>
                                <input ng-model="location"></input>
                                <br>
                                <h2 class="uppercase">Description</h2>
                                <textarea ng-model="info"></textarea>
                                <button class="btn" ng-click="addOrUpdateExp()">Save</button>
                                <button class="btn" ng-click="closeAddDiv()">Cancel</button>
                            </div><!---.profile__description-->
                            <ul class="experienceList" ng-repeat = 'experience in experiences'>
                                <li>     
                                    <p ng-click="showMoreExpInfo(experience)">{{experience.title_education}} - {{experience.company_school}}</p><i class="fa fa-trash" ng-click="removeExp(experience)" aria-hidden="true"></i><i class="fa fa-pencil" ng-click="prepareEditExp(experience)"></i>
                                <p ng-show="showOnClickMoreInfo"><span class="bold">Location: </span>{{experience.location}}</p>
                                    <p ng-show="showOnClickMoreInfo"><span class="bold">Description: </span>{{experience.info}}</p></li>
                            </ul>
                                
                        </div><!--Empty div to get spacing-->
                    </div> <!-- .col -->
                </div><!-- .row -->
                <div class="row">
                    <div ng-if="isStudent" ng-show="isStudent" class="col-sm-12 col-md-12 col-sm-12 profile__stuff__other">
                        <div class="profile__stuff__other">
                            <h1><i class="fa fa-2x fa-archive"></i>Other</h1>
                            <i class="fa fa-pencil"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sapien pharetra dolor vestibulum, ac laoreet ex convallis. Nullam sit amet sollicitudin metus, facilisis convallis metus. In pulvinar metus risus, at scelerisque ex viverra sed. Integer metus nisl, sodales eu ultricies et, bibendum in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod, diam eget laoreet finibus, risus augue mollis metus, nec porta nunc sapien vitae lacus. Suspendisse suscipit tempor ornare. Morbi ut consequat velit.</p>
                        </div><!--Empty div to get spacing-->
                    </div><!---.col-->
                </div><!---.row-->
            </div><!---.col-->
        </div><!---.row-->
    </div><!---container-->
</div>

