<div class="app_container heightfull">
    <div class="container-fluid pbl-profile heightfull">
        <div class="row heightfull table-row newtable-row">
            <div class="col-sm-3 col-md-3 col-lg-3 heightfull profile__container" >
                <div class="profile__about">
                    <h1> {{ first_name }} {{ last_name }} </h1>
                    <h2> {{ role }} </h2>
                    <div class="profile__about__img"></div>
                </div><!---.profile__about-->
                
                <div class="text-center pbl-profile__contact">
                    <h2 class="uppercase">Contact me</h2>                    
                    <p class="email"><i class="fa fa-envelope-o"></i>{{ email }}</p>
                    
                    <p><i class="fa fa-phone"></i> {{ phone_number }}</p>
                    
                    <a href={{homepage}} target="_blank" ng-hide="homepage == '' || homepage == null"><i class="fa fa-home"></i> {{ homepage }} </a>
                </div><!---.profile__contact-->

                <div class="text-center profile__description">
                    <h2 class="uppercase">About me</h2>
                    <p> {{ description }}</p>
                </div><!---.profile__description-->

                <div class="text-center pbl-profile__links">
                    <h2 class="uppercase">Follow me</h2>
                    <a href={{linkedin}} target="_blank" ng-hide="linkedin == '' || linkedin == null"><i class="fa fa-linkedin"></i></a>
                    <a href={{twitter}} target="_blank" ng-hide="twitter == '' || twitter == null"><i class="fa fa-twitter"></i></a>
                    <a href={{facebook}} target="_blank" ng-hide="facebook == '' || facebook == null"><i class="fa fa-facebook"></i></a>
                    <a href={{github}} target="_blank" ng-hide="github == '' || github == null"><i class="fa fa-github"></i></a>
                </div><!---.profile__links-->



                    <!--Hidden for now
                    <p> Password </p>
                    <input class="form-control" ng-model="user.password" required="true">
                    <p> Role </p>
                    <input class="form-control" ng-model="user.role" required="true">-->

            </div>
            <div class="col-sm-18 col-md-18 col-lg-18 profile__stuff">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="profile__stuff__courses">
                            <h1><i class="fa fa-2x fa-book"></i>Courses</h1>
                            <!--<input class="form-control" ng-model="user.courses.course_name" required="true">-->
                            <ul ng-repeat = 'course in courses'>
                                <li>{{course.name}}</li>
                            </ul>
                        </div>
                        
                        <div class="profile__stuff__skills pbl-profile__skills">
                            <h1><i class="fa fa-2x fa-cogs"></i>Skills</h1>
                            <ul ng-repeat = 'skill in skills'>
                                <li>{{skill.tag}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-24 col-md-12 col-lg-12">
                        <div class="profile__stuff__ex">
                            <h1><i class="fa fa-2x fa-certificate"></i>Experience</h1>
                            <ul class="experienceList" ng-repeat = 'experience in experiences'>
                                <li>     
                                    <p ng-click="showMoreExpInfo(experience)">{{experience.title_education}} - {{experience.company_school}}</p>
                                    <p ng-show="showOnClickMoreInfo"><span class="bold">Location: </span>{{experience.location}}</p>
                                    <p ng-show="showOnClickMoreInfo"><span class="bold">Description: </span>{{experience.info}}</p>
                                </li>
                            </ul>
                        </div><!--Empty div to get spacing-->
                    </div> <!-- .col -->
                </div>
               
            </div>
            <!---.col-->

    </div>
    <!---container-->
</div>
       <!-- <div ng-controller="ProfileController">
            
            	<p> First name </p>
                <input class="form-control" ng-model="user.first_name" required="true">
                <p> Last name </p>
                <input class="form-control" ng-model="user.last_name" required="true">
                <p> Description </p>
                <input class="form-control" ng-model="user.description" required="true">
                <p> Personality </p>
                <input class="form-control" ng-model="user.personality" required="true">
                <p> Courses </p>
                <input class="form-control" ng-model="user.courses.course_name" required="true">
                <p> Email </p>
                <input class="form-control" disabled="disabled" ng-model="user.email" required="true">
                <p> Phone number </p>
                <input class="form-control" ng-model="user.phone_number" required="true">
                <p> Password </p>
                <input class="form-control" ng-model="user.password" required="true">
                <p> Role </p>
                <input class="form-control" ng-model="user.role" required="true">
                <p> Public URL </p>
                <input class="form-control" ng-model="user.public_url" required="true">

                 <button class="btn btn-primary" ng-click="updateProfile()">Update</button>

<!--
           <div ng-repeat="user in userlist">
                <p> {{user.first_name}} </p>
                <p> {{user.email}} </p>
               <p> {{user.phone_number}} </p>
               <p> {{user.password}} </p>
           </div>
           
           -->
