
<form  name="upload_form">
  Select file
    <input 
       type="file" 
       ngf-select 
       ng-model="file" 
       name="file" 
       ngf-max-size="20MB" 
       />
    Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
    <i ng-show="upload_form.file.$error.required">*required</i><br>
    <i ng-show="upload_form.file.$error.maxSize">File too large 
    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
    <button type="submit" ng-click="submit()">submit</button>
    <p>{{progress}}</p>
</form>
