
<form name="upload_form">
  <div class="input-group btn--fileupload">
    <span class="input-group-btn">
        <span class="btn btn-default btn-file"><i class="fa fa-folder-open" aria-hidden="true"></i>
            Select file
            <input
               type="file"
               ngf-select
               ng-model="file"
               name="file"
               ngf-max-size="20MB"
               multiple
            />
        </span>
        <p>{{progress}}</p>

        <!--Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>-->
        <i ng-show="upload_form.file.$error.required">*required</i><br>
        <i ng-show="upload_form.file.$error.maxSize">File too large
        {{up.file.size / 1000000|number:1}} MB: max 20M </i>
        <!--     <button type="submit" ng-click="upload()">Upload</button> -->
    </span>
  <input type="text" ng-model="output" class="output" readonly> <i class="fa fa-times-circle" ng-click="emptyInput()" aria-hidden="true"></i>
  </div>  <!--.input-group-->
</form>
