    <div class="row row--modal">
        <div class="col-sm-20 col-sm-offset-2 vcenter">

              <h2>Update course details</h2>
                    <form name="courseDetails">
                        <div class="col-sm-12">

                        <label for="name">Course name</label>
                            <input type="text" name="name" class="form-control" ng-model="newCourse.name" required="true">
                            <span
                            class="error"
                            ng-show="courseDetails.name.$touched && courseDetails.name.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>

                        <label for="code">Course code</label>
                            <input type="text" name="code" class="form-control" ng-model="newCourse.code" required="true">
                            <span
                            class="error"
                            ng-show="courseDetails.code.$touched && courseDetails.code.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>

                        <label for="url">Course url</label>
                            <input type="text" name="url" class="form-control" ng-model="newCourse.url" required="true">
                            <span
                            class="error"
                            ng-show="courseDetails.url.$touched && courseDetails.url.$invalid"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>



                        </div>

                        <div class="col-sm-12">
                            <label for="start">Start date</label>
                            <input type="datetime-local" name="start" class="form-control" ng-model="newCourse.start" required="true">
                            <span
                            class="error"
                            ng-show="courseDetails.start.$invalid && courseDetails.start.$touched"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>

                            <label for="end">End date</label>
                            <input type="datetime-local" name="end" class="form-control" ng-model="newCourse.end" required="true">
                            <span
                            class="error"
                            ng-show="courseDetails.end.$invalid && courseDetails.end.$touched"
                            class="formError">
                            <i class="fa fa-times"></i>
                            </span>
                        </div>

                        <div class="col-sm-24">

                            <label for="content">Description</label>
                            <input id="x" type="hidden" name="content">
                            <trix-editor input="x" id="descriptionEditor"></trix-editor>

                        </div>
                    </form>

                    <div class="col-xs-24 pager">
                      <button class="btn btn--courses" ng-click="closeUpdateCourse()">Close</button>
                        <a ng-href="/courses/"><button class="btn btn-danger" ng-click="deleteCourse()">Delete course</button></a>
                      <button class="btn btn--courses" ng-click="updateCourseDetails()">Update course details</button>
                    </div>

        </div><!--col-->
    </div><!--.row-->
